@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');


body {
    background-color: #fafafa;
}



#title {
    text-align: center;
    font-family: 'Lobster', cursive;
}



#map {
    height: 65%;
    margin: 50px;
    margin-top: 10px;
    border: 1px solid black;
  }